.navigation-bar {
  position: absolute;
  width: 75px;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #ffffff;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px 0px;
  align-items: center;
}

/*/ iconos barra de navegacion lateral /*/

.navigation-bar-icons {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}

.navigation-bar-icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 5px;
}

.navigation-bar-icons p {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #b2b2b2;
}

.active-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background: #ff7553;
  border-radius: 10px 0px 0px 10px;
  width: 100% !important;
}

.active-img {
  fill: white !important;
}

.active-p {
  color: white !important;
}
