.CardsCarrouselHome {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  width: 100%;
}



/*/ carrousel /*/

.slider-container {
  margin: 0 auto;
  overflow-x: hidden;
  width: 90vw;
  position: relative;
  
}

.slider {
  display: flex;
  gap: 15px;
  cursor: grab;
  height: 250px;
  
}


