.slider-popular-clubes {
    display: flex;
    gap: 5px;
    cursor: grab;
    height: 150px;
    flex-wrap: wrap;
    
}

.slider-container-popular-clubes {
    margin: 0 auto;
    overflow-x: hidden;
    width: 2900px;
    height: 350px;
    position: relative;
}