/*/ search bar general /*/

.search-bar {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  position: absolute;
  height: 8.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}

/*/ filtros /*/

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-left: 85px;
}

.filters p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
  color: #6a6a6a;
  cursor: pointer;
}

.input-filter {
  display: flex;
  background: #f5f5f5;
  border-radius: 100px;
  width: 400px;
  padding: 8px;
  gap: 5px;
}

.input-filter input {
  border: none;
  background-color: #f5f5f5;
  flex-grow: 1;
}

.input-filter input:focus {
  outline: none;
}

/*/ datos-usario /*/

.dates-user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pic-user {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 360px;
}

.username {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(18, 18, 18, 0.8);
}

.tagname {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: rgba(18, 18, 18, 0.6);
}

.notification-icon {
  font-size: 30px !important;
}

.active-searchBar {
  border-bottom: 2px solid #ff3300 ;
  color: #ff3300 !important;
}
