.card-chat-principal-div {
  display: flex;
  align-items: center;
  position: relative;
  width: 95%;
  height: 350px;
  justify-content: center;
  gap: 15px;
  border-bottom: 0.5px solid #eaeced;
  cursor: pointer;
  padding: 13px;
}

.card-chat-principal-div div p {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #717171;
}

.card-chat-principal-div span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #9c9c9c;
}

.card-chat-principal-div img {
  width: 50px;
  height: 50px;
  border-radius: 360px;
}

.card-chat-principal-div div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.quantity-chat {
  position: absolute;
  background-color: #ff6262;
  top: 5px;
  right: 5px;
  border-radius: 360px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
}
